.button {
    transition: transform 0.2s ease-in-out;
}

.button:hover {
    background-color: #67b0fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: 1px solid whitesmoke;
    /* Darker blue on hover */
    transform: scale(1.05);
    /* Slightly enlarge the button */
}